body {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.row {
    padding-left: 25rem;
    padding-right: 25rem;
}

.col-12 {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

h1,h2,h3,h4,h5,h6,p {
    text-align: center;
}

#container {
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}